{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": ["@babel/plugin-proposal-private-property-in-object", "@babel/plugin-transform-arrow-functions", "@babel/plugin-transform-destructuring"]
}